@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#2d1b14;
    color:#f5e6d3;
    overflow-x:hidden;
}

section{
    padding:80px 10%;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    background:
    linear-gradient(
    rgba(0,0,0,.4),
    rgba(0,0,0,.4)),
    url("https://images.unsplash.com/photo-1516589091380-5d8e87df6999?w=1200");
    background-size:cover;
    background-position:center;
}

.hero h1{
    font-size:4rem;
    color:#ffddb5;
}

.hero p{
    margin-top:15px;
    font-size:1.2rem;
}

button{
    margin-top:25px;
    border:none;
    cursor:pointer;

    padding:15px 30px;

    border-radius:50px;

    background:#7b3f00;

    color:white;

    font-size:1rem;

    transition:.3s;
}

button:hover{
    transform:scale(1.05);
}

.letter,
.countdown,
.reasons,
.gallery,
.surprise{
    text-align:center;
}

h2{
    margin-bottom:30px;
    color:#ffddb5;
}

#timer{
    font-size:2rem;
    font-weight:bold;
}

#reasonBox{
    max-width:700px;
    margin:auto;

    background:#4a2c22;

    padding:30px;

    border-radius:15px;

    min-height:120px;
}

.photos{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.photos img{
    width:100%;
    border-radius:20px;
    transition:.4s;
}

.photos img:hover{
    transform:scale(1.05);
}

#surpriseMessage{
    margin-top:30px;
    font-size:1.4rem;
    color:#ffd699;
}

footer{
    padding:40px;
    text-align:center;
    background:#1b0f0a;
}

.heart{
    position:fixed;
    top:-20px;
    color:#ffb6c1;
    animation:fall linear forwards;
}

@keyframes fall{
    to{
        transform:translateY(110vh);
    }
    .music-section{
    padding-top:40px;
}

.music-card{

    width:350px;
    max-width:90%;

    margin:auto;

    text-align:center;

    background:rgba(255,255,255,0.08);

    border:1px solid rgba(255,255,255,0.1);

    backdrop-filter:blur(12px);

    padding:30px;

    border-radius:25px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.3);
}

.music-icon{

    font-size:80px;

    margin-bottom:20px;
}

.music-card p{

    margin-top:10px;
    margin-bottom:20px;
}

#musicBtn{

    background:
    linear-gradient(
    135deg,
    #8b5e3c,
    #5c3b28
    );

    color:white;

    border:none;

    padding:15px 35px;

    border-radius:50px;

    cursor:pointer;

    transition:.3s;
}

#musicBtn:hover{

    transform:scale(1.08);
}

.rotate{

    animation:spin 4s linear infinite;
}

@keyframes spin{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }
}
